export RIDA_API_KEY="demo-api-key"
export RIDA_OTTAWA_CLIENTS=1
export RIDA_MONTREAL_CLIENTS=2
export RIDA_HTTP_PORT=":8080"

export RIDA_PG_HOST=localhost
export RIDA_PG_PORT=5432
export RIDA_PG_USER=postgres
export RIDA_PG_PASSWORD=postgres
export RIDA_PG_DBNAME=rida
export RIDA_PG_SSLMODE=disable
